name: React Sanctum Test

on: [push]

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x.x]
        php-version: ['8.0']
        react-version: ['17', '18']

    steps:
      - uses: actions/checkout@v1

      - name: Setup backend Laravel
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: 'mbstring'

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Prepare and build package
        run: |
          npm install
          npm run build
          npm prune --production
          npm link

      - name: Prepare and run Laravel back-end
        working-directory: test/dependencies/laravel
        run: |
          php -r "file_exists('.env') || copy('.env.example', '.env');"
          composer update --prefer-stable --prefer-dist --no-interaction
          chmod -R 777 storage bootstrap/cache
          touch database/database.sqlite
          php artisan key:generate
          php artisan migrate
          php artisan db:seed
          php artisan serve &

      - name: Prepare and run React app front-end
        working-directory: test/dependencies/react-app-${{ matrix.react-version }}
        run: |
          npm install
          npm link react-sanctum --save
          npm start &

      - name: Run tests
        run: |
          npm install cypress
          ${{ secrets.CYPRESS_RECORD_KEY && 'npm run test-and-record' || 'npm run test' }}
        env:
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
